@import "./variables.scss";

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

main, .main-styling {
    background-color: $background;
    margin: auto;
    width: 900px;
    max-width: calc(100% - 2rem);
    flex: 1;
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    main {
        width: 95%;
    }
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

h2 {
    font-size: 2.75rem;
    text-align: center;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
}
.hasSubtitle {
    margin-bottom: 0.25rem;
}

.two-col {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    column-gap: 3rem;
}

a:link, a:visited {
    color: $accent;
}

*::selection {
    background: $accent;
    color: $background;
}

iframe {
    background-color: white;
    border: none;
    box-shadow: 0px 0px 1rem $secondary;
}