---
import Citation from '../../components/Citation.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Accountability - Words of William Stafford">
    <h2>Accountability</h2>
    <p>"Cold nights outside the taverns in Wyoming <br>
        pickups and big semis lounge idling, letting their <br>   
        haunches twitch now and then in gusts of powder snow, <br> 
        their owners inside for hours, forgetting as well <br>
        as they can the miles, the circling plains, the still town <br>   
        that connects to nothing but cold and space and a few <br>
        stray ribbons of pavement, icy guides to nothing <br> 
        but bigger towns and other taverns that glitter and wait: <br>  
        Denver, Cheyenne. <br>
        <br>
        Hibernating in the library of the school on the hill <br>   
        a few pieces by Thomas Aquinas or Saint Teresa <br>
        and the fragmentary explorations of people like Alfred <br>   
        North Whitehead crouch and wait amid research folders <br>
        on energy and military recruitment posters glimpsed <br>
        by the hard stars. The school bus by the door, a yellow <br>  
        mound, clangs open and shut as the wind finds a loose <br>
        door and worries it all night, letting the hollow <br>
        students count off and break up and blow away <br>
        over the frozen ground."
        </p>
        <br>
        <p><Citation href="https://www.poetryfoundation.org/poems/42787/accountability" citationText='Poetry Foundation'/></p>
</Layout>
