---
import Citation from '../../components/Citation.astro';
import Layout from '../../layouts/Layout.astro';
import Image from '../../components/Image.astro';
import '../../styles/two-columns.scss';
---

<Layout title="Accountability - Words of William Stafford">
    <h2><i>Accountability</i></h2>
    <div class="two-columns">
        <p>"Cold nights outside the taverns in Wyoming <br>
            pickups and big semis lounge idling, letting their <br>   
            haunches twitch now and then in gusts of powder snow, <br> 
            their owners inside for hours, forgetting as well <br>
            as they can the miles, the circling plains, the still town <br>   
            that connects to nothing but cold and space and a few <br>
            stray ribbons of pavement, icy guides to nothing <br> 
            but bigger towns and other taverns that glitter and wait: <br>  
            Denver, Cheyenne. <br>
            <br>
            Hibernating in the library of the school on the hill <br>   
            a few pieces by Thomas Aquinas or Saint Teresa <br>
            and the fragmentary explorations of people like Alfred <br>   
            North Whitehead crouch and wait amid research folders <br>
            on energy and military recruitment posters glimpsed <br>
            by the hard stars. The school bus by the door, a yellow <br>  
            mound, clangs open and shut as the wind finds a loose <br>
            door and worries it all night, letting the hollow <br>
            students count off and break up and blow away <br>
            over the frozen ground."
            <br><Citation href="https://www.poetryfoundation.org/poems/42787/accountability" citationText='Poetry Foundation'/></p>
            <Image src="https://live.staticflickr.com/3227/2929723050_996cc14843_w.jpg" href="https://www.flickr.com/photos/oregondot/2929723050" citationText='Flickr' />        
        </div>
        
        <br>
        <p><strong>Subject:</strong>  Humans (students and people with their cars) <br>
            <strong>Thematic Statement:</strong> People go through their lives, slowly forgetting about their past. <br>
            <strong>Attitude:</strong> aloof, slow, slient <br>
            <strong>Audience:</strong> People who passively move about their lives. <br>
            <strong>Rhetorical Strategies:</strong> Diction—“Hibernating” (10); Imagery—“powder snow” (3)</p>
            <br>
            <p>&emsp;In his contemporary poem “Accountability,” William Stafford illustrates a cold setting and chooses complacent words to exemplify how people gradually forget about their lives in day-to-day monotony. When starting to describe the weather, Stafford writes that cars were moving thorugh “gusts of powder snow” (3). This image of cars trudging through frozen snow establishes a slow tone for the poem, because the snow acts as a tedious obstacle that hinders the cars’ movement. The reader empathizes with the inability to move forward like the cars being stuck in the snow, and it creates a sense of escapism. In the next stanza, Stafford states that pieces of writing were “hibernating” in a school’s library (10). The word “hibernating” has a denotation of resting in place over an extended period of time—these papers are being described as perpetually stuck in place. As people move through their lives, they forget past works and projects, such as the papers left at school. Through the passive word and the illustration of snow, Stafford reveals how people leave their past memories behind as they age.</p>
</Layout>

<style lang="scss">
</style>