---
import Citation from '../../components/Citation.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Bess - Words of William Stafford">
    <h2>Bess</h2>
    <p>"Ours are the streets where Bess first met her <br>
        cancer. She went to work every day past the <br>
        secure houses. At her job in the library <br>
        she arranged better and better flowers, and when <br>   
        students asked for books her hand went out <br>
        to help. In the last year of her life <br>
        she had to keep her friends from knowing <br> 
        how happy they were. She listened while they <br>
        complained about food or work or the weather. <br>
        And the great national events danced <br>
        their grotesque, fake importance. Always <br>
        <br>
        Pain moved where she moved. She walked <br>
        ahead; it came. She hid; it found her. <br>
        No one ever served another so truly; <br>
        no enemy ever meant so strong a hate. <br>
        It was almost as if there was no room <br>
        left for her on earth. But she remembered <br>
        where joy used to live. She straightened its flowers; <br>   
        she did not weep when she passed its houses; <br>
        and when finally she pulled into a tiny corner <br>
        and slipped from pain, her hand opened <br>
        again, and the streets opened, and she wished all well." <br>
        <Citation href="https://www.poetryfoundation.org/poems/42786/bess-56d2216a0c3d2" citationText='Poetry Foundation'/></p>
        <br>
        <p>
            <strong>Subject:</strong> A woman named Bess <br>
            <strong>Thematic Statement:</strong> People hide the worst parts of their lives from others. <br>
            <strong>Attitude:</strong> secretive, miserable, hopeful <br>
            <strong>Audience:</strong> People who are going through a tough time <br>
            <strong>Rhetorical Strategies:</strong> Personification—“Pain moved where she moved.” (12); Details—“Ours are the streets where Bess first met her cancer.” (1-2). <br>
        </p>
        <br>
        <p>&emsp;In his contemporary poem “Bess,” William Stafford includes details and personification to demonstrate that people have bad experiences with life despite their joyful appearances. Stafford opens the poem with the detail that Bess “met her cancer” and that she helps her community (1-2). By saying Bess has cancer and immediately mentioning the ways she is kind to others, Stafford reveals that Bess is hiding her sickness. She does these kind acts to ensure that others forget about her bad times. Later in the poem, the pain she is experiencing is personified as having “moved where she moved.” (12). Despite her earlier attempts to hide it, Bess has to confront her suffering. Even though she appears entirely happy and well to others, she is secretly being tormented. Through mentioning Bess’ sickness and personifying her pain, Stafford displays how people hide their weaknesses with a cheerful image.</p>
</Layout>
