---
import Citation from '../../components/Citation.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Bess - Words of William Stafford">
    <h2>Bess</h2>
    <p>"Ours are the streets where Bess first met her <br>
        cancer. She went to work every day past the <br>
        secure houses. At her job in the library <br>
        she arranged better and better flowers, and when <br>   
        students asked for books her hand went out <br>
        to help. In the last year of her life <br>
        she had to keep her friends from knowing <br> 
        how happy they were. She listened while they <br>
        complained about food or work or the weather. <br>
        And the great national events danced <br>
        their grotesque, fake importance. Always <br>
        <br>
        Pain moved where she moved. She walked <br>
        ahead; it came. She hid; it found her. <br>
        No one ever served another so truly; <br>
        no enemy ever meant so strong a hate. <br>
        It was almost as if there was no room <br>
        left for her on earth. But she remembered <br>
        where joy used to live. She straightened its flowers; <br>   
        she did not weep when she passed its houses; <br>
        and when finally she pulled into a tiny corner <br>
        and slipped from pain, her hand opened <br>
        again, and the streets opened, and she wished all well."            
        </p>
        <br>
        <p><Citation href="https://www.poetryfoundation.org/poems/42786/bess-56d2216a0c3d2" citationText='Poetry Foundation'/></p>
</Layout>
