---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="STAARS and TEARS - Words of William Stafford">
	<h2>STAARS and TEARS</h2>
	<p>List of Poems:</p>
	<ul>
		<li><p><a href="/staars-and-tears/traveling-through-the-dark"><i>Traveling through the Dark</i></a></p></li>
		<li><p><a href="/staars-and-tears/once-in-the-40s"><i>Once in the 40's</i></a></p></li>
		<li><p><a href="/staars-and-tears/accountability"><i>Accountability</i></a></p></li>
		<li><p><a href="/staars-and-tears/bess"><i>Bess</i></a></p></li>
	</ul>
</Layout>
