---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="STAARS and TEARS - Words of William Stafford">
	<main>
		<h2>STAARS and TEARS</h2>

	</main>
</Layout>

<style lang="scss">
main {
	
}
</style>
