---
import Citation from '../../components/Citation.astro';
import Image from '../../components/Image.astro';
import Layout from '../../layouts/Layout.astro';
import '../../styles/two-columns.scss';
---

<Layout title="Once in the 40's - Words of William Stafford">
    <h2><i>Once in the 40's</i></h2>
    <div class="two-columns">
        <p>"We were alone one night on a long <br>
            road in Montana. This was in winter, a big <br>
            night, far to the stars. We had hitched, <br>
            my wife and I, and left our ride at <br>
            a crossing to go on. Tired and cold—but <br>
            brave—we trudged along. This, we said, <br>
            was our life, watched over, allowed to go <br>
            where we wanted. We said we’d come back some time <br>
            when we got rich. We’d leave the others and find <br>
            a night like this, whatever we had to give, <br>
            and no matter how far, to be so happy again." <br><Citation href="https://poets.org/poem/once-40s" citationText='poets.org'/>
        </p>
        <Image width="350px" citationText="Unsplash" href="https://unsplash.com/photos/empty-road-_n6NCjU4ALA" src='https://images.unsplash.com/photo-1566518447933-8f9399038f23?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' />
    </div>
    <br>
    <p><strong>Subject:</strong> (The) ride <br>
        <strong>Thematic Statement:</strong> The ride in the night along a road in Montana was long and tiring, but there was a hope to come back feeling better. <br>
        <strong>Attitude:</strong> tired, sentimental, optimistic <br>
        <strong>Audience:</strong> general audience interested in a story <br>
        <strong>Rhetorical Strategies:</strong> Diction—"trudged" (6); Syntax—“We’d leave the others and find a night like this, whatever we had to give, and no matter how far, to be so happy again.” (9-11)
    </p>
    <br>
    <p>
        &emsp;In the contemporary poem Once in the 40’s, William Stafford describes a tough yet satisfying journey and the hope of coming back to such a journey, demonstrating that people are commonly optimistic for the future. When Stafford talks about progressing through the journey, he describes moving forward with the word "trudged" (6). Stafford chooses the word "trudged" because it has a denotation of moving foward slowly and effortfully. Despite the slowness and tiredness in his walking, Stafford decides to push forward. He feels happy to keep going because he knows he will reach his destination eventually, even if he is experiencing pain getting there right now. When Stafford talks about the hope he has for the future, he writes, “We’d leave the others and find / a night like this, whatever we had to give, / and no matter how far, to be so happy again.” (9-11). William Stafford injects the sentence with extra clauses and commas. This assists in extensively describing how he is willing to give up so much to re-experience the happiness he his experiencing in his journey. Stafford is happy to make sacrifices like forcing himself to push forward so he can experience more joy. The sense of nostalgia with the hope of a better future is a powerful feeling that changes the way that people think about the future.
    </p>
</Layout>
