---
import Citation from '../../components/Citation.astro';
import Layout from '../../layouts/Layout.astro';
import '../../styles/two-columns.scss';
---

<Layout title="Once in the 40's - Words of William Stafford">
    <h2>Once in the 40's</h2>
    <div class="two-columns">
        
    </div>
    <p>"We were alone one night on a long <br>
        road in Montana. This was in winter, a big <br>
        night, far to the stars. We had hitched, <br>
        my wife and I, and left our ride at <br>
        a crossing to go on. Tired and cold—but <br>
        brave—we trudged along. This, we said, <br>
        was our life, watched over, allowed to go <br>
        where we wanted. We said we’d come back some time <br>
        when we got rich. We’d leave the others and find <br>
        a night like this, whatever we had to give, <br>
        and no matter how far, to be so happy again." <br><Citation href="https://poets.org/poem/once-40s" citationText='poets.org'/>
    </p>
    <br>
    <p><strong>Subject:</strong> (The) ride <br>
        <strong>Thematic Statement:</strong> The ride in the night along a road in Montana was long and tiring, but there was a hope to come back feeling better. <br>
        <strong>Attitude:</strong> tired, sentimental, optimistic <br>
        <strong>Audience:</strong> general audience interested in a story <br>
        <strong>Rhetorical Strategies:</strong> Syntax—“We’d leave the others and find a night like this, whatever we had to give, and no matter how far, to be so happy again.”
    </p>
    <br>
    <p>
        &emsp;In the contemporary poem Once in the 40’s, William Stafford describes a satisfying journey and the hope of coming back to such a journey, demonstrating that people are commonly optimistic for the future. When William Stafford talks about the hope he has about the future, he writes, “We’d leave the others and find / a night like this, whatever we had to give, / and no matter how far, to be so happy again.” (9-11). William Stafford injects the sentence with extra clauses and commas, extending the description of how the speaker would be willing to give up so much to re-experience the happiness they are experiencing in their journey. The sense of nostalgia with the hope of a better future is a powerful feeling that changes the way that people think about the future.
    </p>
</Layout>
