---
import Citation from '../../components/Citation.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Once in the 40's - Words of William Stafford">
    <h2>Once in the 40's</h2>
    <p>"We were alone one night on a long <br>
        road in Montana. This was in winter, a big <br>
        night, far to the stars. We had hitched, <br>
        my wife and I, and left our ride at <br>
        a crossing to go on. Tired and cold—but <br>
        brave—we trudged along. This, we said, <br>
        was our life, watched over, allowed to go <br>
        where we wanted. We said we’d come back some time <br>
        when we got rich. We’d leave the others and find <br>
        a night like this, whatever we had to give, <br>
        and no matter how far, to be so happy again."</p>
        <br>
        <p><Citation href="https://poets.org/poem/once-40s" citationText='poets.org'/></p>
</Layout>
