---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Works Cited - Words of William Stafford">
	<main>
		<h2>Page not Found</h2>
        <p>This page could not be found.</p>
        <a href="/"><p>Return to Home</p></a>
	</main>
</Layout>

<style lang="scss">
main {
	* {
        text-align: center;
    }
}
</style>
