---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page Not Found - Words of William Stafford">
    <h2>Page Not Found</h2>
    <p>This page could not be found.</p>
    <a href="/"><p>Return to Home</p></a>
</Layout>

<style lang="scss">
main {
	* {
        text-align: center;
    }
}
</style>
