---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Genre - Words of William Stafford">
	<main>
		<h2>Genre</h2>
        <h3>Contemporary Poetry</h3>
        <p>Contemporary poetry is a genre of poetry which does not conform to rules in traditional poetry. Contemporary poems are generally written in free verse. Poems from this genre do not state ideas; they imply. Poems written anywhere from the mid-nineteenth century to modern day may be part of the contemporary poetry genre (<a href="https://www.languagehumanities.org/what-are-the-different-types-of-contemporary-poetry.htm">languagehumanities.org</a>).</p> 
		<p>William Stafford is a poet who writes contemporary poetry. He writes poems in free verse, and his poems lack the elements of traditional poetry like rhyme and counting the lines in a stanza. His poetry is easy to read. He uses modern language.</p>
        <h4>Modern Romanticism</h4>
		<p>Modern Romanticism is a genre of poetry related to contemporary poetry. It defined by The Silver Petticoat Review as "a movement that emphasizes stories from 1900 to the present day influenced by Medieval Romanticism and the Romantic Era of the 18th and 19th centuries." Poetry in this genre visits topics like "personal expression," "love of nature," and "feelings." (<a href="https://www.silverpetticoatreview.com/modern-romanticism-101-guide/">The Silver Petticoat Review</a>).</p>
		
	</main>
</Layout>

<style lang="scss">
main {
	ul {
		list-style-type: none;
	}
}
</style>
