---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Works Cited - Words of William Stafford">
	<main>
		<h2>Genre</h2>
        <h3>Contemporary Poetry</h3>
        <p>Contemporary poetry is a genre of poetry that does not conform to rules in traditional poetry. Contemporary poems are generally written in free verse. Poems from this genre do not state ideas; they suggest ideas. Poems written anywhere from the mid-nineteenth century to today may be part of the contemporary poetry genre. This genre is an extremely broad genre, with numerous sub-genres. (<a href="https://www.languagehumanities.org/what-are-the-different-types-of-contemporary-poetry.htm">languagehumanities.org</a>)</p>
        <h4>Modern Romanticism</h4>
		<p>Modern Romanticism is </p>
	</main>
</Layout>

<style lang="scss">
main {
	ul {
		list-style-type: none;
	}
}
</style>
