---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Words of William Stafford">
	<main>
		<h2>William Stafford</h2>
		<div class="subtitle">A Project by Joshua Coquia</p>
	</main>
</Layout>

<style>

</style>
