---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Words of William Stafford">
	<Header />
	<main>
		<h2>William Stafford</h2>
		
	</main>
</Layout>

<style>

</style>
