---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Words of William Stafford">
	<h2 class="hasSubtitle">William Stafford</h2>
	<div class="subtitle">A Project by Joshua Coquia</p>
</Layout>
