---
import Image from '../components/Image.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/two-columns.scss';
---

<Layout title="Words of William Stafford">
	<h2 class="hasSubtitle">William Stafford</h2>
	<div class="subtitle"><span>A Project by Joshua Coquia</span></div>
	<div class="two-columns">
		<div>
			<p>William Stafford is a quiet and modest poet who writes seemingly surface-level poetry.</p>
		</div>
		<div></div>
	</div>
</Layout>
