---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Words of William Stafford">
	<Header />
	<main>
		<h1>Words of William Stafford</h1>
		<p>A Project by Joshua Coquia.</p>
	</main>
</Layout>

<style>

</style>
