---
import Image from '../components/Image.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/two-columns.scss';
---

<Layout title="Words of William Stafford">
	<h2 class="hasSubtitle">William Stafford</h2>
	<div class="subtitle"><span>A Project by Joshua Coquia</span></div>
	<div class="two-columns">
		<div>
			<p>William Stafford is a modest contemporary poet who writes simplistic yet sophisticated poetry.</p>
		</div>
		<div><Image alt="Picture of William Stafford" src='https://media.poetryfoundation.org/uploads/media/default/0001/01/6f7cfda6a50ac96df557273a1b3b61718e0741cf.jpeg?w=970&h=&fit=max&key=3&sig=dd6b0c1ecdc7c0ec8717235deff4a78ef1744d8165be1ea493f8b3860ddc0d18&970' href="https://www.poetryfoundation.org/poets/william-e-stafford" citationText="Poetry Foundation"/></div>
	</div>
	
</Layout>
