---
import Layout from '../layouts/Layout.astro';
import Citation from '../components/Citation.astro';
---

<Layout title="Lit Review - Words of William Stafford">
    <h2>Lit Review</h2>
    <h3>Articles</h3>
    <p>Article 1: <Citation href="https://www.modernamericanpoetry.org/index.php/george-s-lensing-and-ronald-moran-traveling-through-dark" />
    <br>Article 2: <Citation href="https://www.poetryfoundation.org/poetrymagazine/articles/70127/two-gents" /><sup>*</sup><br>
    <sup>*Article includes a section on another poet. Find the second half of the article. This half has information on William Stafford.</sup>
    </p>
    <p>
        &emsp;In George S. Lensing and Ronald Moran’s poetic critique titled “On ‘Traveling through the Dark’” they argue that “‘Traveling through the Dark’ defines in trenchant terms the invasion of the wilderness by a new civilization.” (Modern American Poetry Site). The argument that Stafford “found his style early and stuck to it” is made in the prose titled “Two Gents” by William Logan. The first article is a deep dive into the poem “Traveling through the Dark” that goes over how technology influences nature, while the second article is an analysis of the poet as a whole. This literary review will explore the ways that these articles look at William Stafford’s writing style and poetry.
    </p>
    <p>&emsp;In their poetic critique “On ‘Traveling through the Dark,’” George Lensing and Ronald Moran argue that “Traveling through the Dark” is a harsh account of human’s movement that demonstrates how technology jepordizes nature. First, Stafford’s imagery of a cold, dead doe is derived from his perspective on how humans affect wildlife. When analyzing the encounter with the corpse, a critique is made: “The poem's imagery alone, without further obtrusive commentary, defines his personal moral stance. The doe is ‘almost cold,’ while ‘her side was warm’ with the life of the unborn fawn.” (Lensing and Moran). The imagery of the cold deer with the warmth from its fawn reveals that its death occurred recently. The fact that the corpse lies near the road reveals that the deer has died because of a car. Second, Stafford’s description of finding the almost born fawn showcases the large extent of technology’s effect on nature. It is noted,“... ‘her fawn lay there waiting, alive, still, never to be born.’ … he is thrust … between the vulnerable world of the wilderness represented by the doe and the predatory world of technocracy represented by his own automobile.” (Lensing and Moran). The detail of the yet to be delivered child highlights how the deer has a family who is affected by the loss of the mother figure. This fact compels the reader to sympathize with the dead animal. Last, Stafford’s description of uncertainty reveals that humans understand how their technology affects nature. The written indecision is examined: “As he hesitates in making the decision about what to do with the doe, ‘my only swerving,’ he becomes aware of his personal relation to the animal and the larger life of which she is a part: ‘I could hear the wilderness listen.’” The storyteller’s inability to do anything about the carcass comes from the understanding that a human caused the deer to die. This indecision is increased by the storyteller’s understanding that nature feels technology’s effects. The poetic critique "On 'Traveling through the Dark'" showcases humans' understanding of the large impact that technology has on nature. 
    </p>
    <p>&emsp;William Logan, in his article “Two Gents,” displays how William Stafford is a quiet yet sophisticated poet. First, William Stafford is a poet who displays his gentleness and modesty.</p>
</Layout>
