---
import Layout from '../layouts/Layout.astro';
import Citation from '../components/Citation.astro';
---

<Layout title="Lit Review - Words of William Stafford">
    <h2>Lit Review</h2>
    <h3>Articles</h3>
    <p>Article 1: <Citation href="https://www.modernamericanpoetry.org/index.php/george-s-lensing-and-ronald-moran-traveling-through-dark" />
    <br>Article 2: <Citation href="https://www.poetryfoundation.org/poetrymagazine/articles/70127/two-gents" /><sup>*</sup><br>
    <sup>*Article includes a section on another poet. Find the second half of the article which has information on William Stafford.</sup>
    </p>
    <p><a href="https://docs.google.com/document/d/1o50cp3G5C4gApYTNQDYZpp7FnjTJJ9f5yPjdyyAM0dk/edit?usp=sharing">Open in Google Docs</a>
		<br><small>Only accessible using a RAFOS account.</small></p>
	<iframe src="https://docs.google.com/document/d/e/2PACX-1vT9eQ1QBbUYl3FesCbRjxLoB8o6iq4WiENMjUo6DWyqp8ha0o09W-urnSmTJoQ1DiO4-Ijbb0XiVS7m/pub?embedded=true" width="100%" height="400px"></iframe>
</Layout>
