---
import Layout from '../layouts/Layout.astro';
import Citation from '../components/Citation.astro';
---

<Layout title="Lit Review - Words of William Stafford">
    <h2>Lit Review</h2>
    <h3>Articles</h3>
    <p>Article 1: <Citation href="https://www.modernamericanpoetry.org/index.php/george-s-lensing-and-ronald-moran-traveling-through-dark" />
    <br>Article 2: <Citation href="https://www.poetryfoundation.org/poetrymagazine/articles/70127/two-gents" />
    <br>Extra Article: <Citation href="https://www.jstor.org/stable/25303811" /></p>
</Layout>