---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Major Poem - Words of William Stafford">
	<h2>Major Poem</h2>
	<p>Major Poem: <a href="/staars-and-tears/traveling-through-the-dark">Traveling through the Dark</a></p>
</Layout>