---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Major Poem - Words of William Stafford">
	<h2>Major Poem</h2>
	<p>Major Poem: <a href="/staars-and-tears/traveling-through-the-dark">Traveling through the Dark</a></p>
	<p><a href="https://docs.google.com/document/d/1REGvURnptRcDFE3KL2lDiPzKKrBG9L95yBIqdh0XHFA/edit?usp=sharing">Open in Google Docs</a>
	<br><small>Only accessible using a RAFOS account.</small></p>
	<iframe src="https://docs.google.com/document/d/e/2PACX-1vQDZOFmaiQ28iA2KEDwrcjvulkuzqDF82t-OyDbrCKD5qWlhXq1XxLy3_ldNDM7gcGlQfOgVzcM5S7d/pub?embedded=true" width="100%" height="400px"></iframe>
</Layout>