---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Quiz - Words of William Stafford">
    <h2>Quiz</h2>
    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdi5ZNK-QmgRzjgp3YdXVEy-ZmDV0T4NKVq3wv2cAFRcRDelg/viewform?usp=sharing" target="_blank">Open Quiz in New Tab</a></p>
</Layout>
