---
import Layout from '../layouts/Layout.astro';
import Citation from '../components/Citation.astro';
import Image from '../components/Image.astro';
---

<Layout title="Timeline - Words of William Stafford">
	<h2>Timeline</h2>
	<ul class="key">
		<p><strong>Key</strong></p>
		<li class="lightred"><p>Personal</p></li>
		<li><p>Career</p></li>
		<li class="lightgreen"><p>Genre</p></li>
	</ul>
	<br>
	<ul class="timeline">
		<li class="lightred"><p><strong>January 17, 1914</strong> - "Stafford was born in Hutchison, Kansas" <Citation href="http://poets.org/poet/william-stafford"/ citationText='poets.org' />.</p></li>
		<li><p><strong>1937</strong> - The University of Kansas gave Stafford his bachelor's degree <Citation href="https://www.oregonencyclopedia.org/articles/stafford_william_1914_1993_/" citationText='Oregon Encyclopedia' />.</p></li>
		<li><p><strong>1942</strong> - Stafford registered as a conscientious objector when pulled for active military service. He went to Civilian Public Service camps for interships <Citation href="https://www.oregonencyclopedia.org/articles/stafford_william_1914_1993_/" citationText='Oregon Encyclopedia' />. In 1947, he would publish his master thesis based on these experiences under the title <i>Down in My Heart</i>&nbsp;<Citation href="https://www.britannica.com/biography/William-Stafford" citationText="Britannica" />. <Image width=250px src="https://osupress.oregonstate.edu/sites/default/files/books/DownInMyHeart.jpg" href="https://osupress.oregonstate.edu/book/down-in-my-heart" citationText='OSU Press'/></p></li>
		<li class="lightred"><p><strong>1944</strong> - "Stafford married Dorothy Hope Frantz" <Citation href="http://poets.org/poet/william-stafford" citationText="poets.org" />.</p></li>
		<li class="lightgreen"><p><strong>1945</strong> - The contemporary period started after the end of World War II. People started writing contemporary poetry.  This period has lasted to the modern day, and many movements have come from this period <Citation href="https://poemanalysis.com/definition/contemporary-period/" citationText="poemanalysis.com" />.</p></li>
		<li><p><strong>1948</strong> - Stafford started teaching at Lewis and Clark College <Citation href="http://poets.org/poet/william-stafford" citationText='poets.org'/>.</p></li>
		<li><p><strong>1955</strong> - Stafford recieved a doctorate from the University of Iowa <Citation href="https://www.britannica.com/biography/William-Stafford" citationText="Britannica" />.</p></li>
		<li><p><strong>1960</strong> - Stafford published a collection of poems titled <i>West of Your City</i>, based on his doctoral dissertation. Two years later, he would publish another collection based on his doctoral dissertation titled <i>Traveling through the Dark</i>. This would earn the National Book Award for Poetry <Citation href="https://www.oregonencyclopedia.org/articles/stafford_william_1914_1993_/" citationText='Oregon Encyclopedia' />. <Image width=250px src="https://i0.wp.com/www.nationalbook.org/wp-content/uploads/2015/08/Traveling-through-the-Dark-by-William-Stafford-book-cover.jpg?fit=296%2C444&ssl=1" href="https://www.nationalbook.org/books/traveling-through-the-dark/" citationText='National Book Foundation'/></p></li>
		<li><p><strong>1964</strong> - Stafford was awarded the Shelley Memorial Award by the Poetry Society of America <Citation href="https://www.oregonencyclopedia.org/articles/stafford_william_1914_1993_/" citationText='Oregon Encyclopedia' />.</p></li>
		<li><p><strong>1979</strong> - Stafford retired after working in Lewis & Clark College for over thirty years. He would still briefly teach at a few other colleges. He pioneered poetry reading and writing workshops, and he continued these after his retirement <Citation href="https://www.oregonencyclopedia.org/articles/stafford_william_1914_1993_/" citationText='Oregon Encyclopedia' />.</p></li>
		<li class="lightred"><p><strong>August 28, 1993</strong> - Stafford passed away <Citation href="http://poets.org/poet/william-stafford"/ citationText='poets.org' />.</p></li>
	</ul>
</Layout>

<style lang="scss">
	@import '../styles/variables.scss';
	ul {
		list-style-type: none;
		padding: 0;
		margin: 2rem auto;
		li {
			background-color: $secondary;
			&.lightgreen {
				background-color: $lightgreen;
			}
			&.lightred {
				background-color: $lightred;
			}
		}
	}
	.key {
		li {
			padding: 0 0.5rem;
			width: fit-content;
			text-align: center;
		}
	}
	.timeline {
		display: grid;
		grid-template-columns: auto;
		position: relative;
		row-gap: 2rem;
		li {
			text-align: center;
			padding: 0.5rem 1rem;
			position: relative;
			background-color: $secondary;
			max-width: calc(50% - 2rem);
			&::after {
				content: '';
				position: absolute;
				width: 25px;
				height: 25px;
				right: -17px;
				background-color: $background;
				border: 4px solid $accent;
				top: 1.25rem;
				border-radius: 50%;
				z-index: 1;
			}
			&:nth-child(odd) {
				left: 0;
			}

			&:nth-child(even) {
				left: 50%;
				&::after {
					left: -16px;
				}
			}
		}

	}
	.timeline::after {
		content: '';
		position: absolute;
		width: 6px;
		background-color: $text;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -3px;
	}

	@media screen and (max-width: 600px) {
		.key {
			width: 60%
		}
		.timeline {
			width: 90%;
			margin: 0;
			&::after {
				left: 0px;
			}
			li {
				width: 100%;
				padding-left: 20px;
				padding-right: 25px;
				max-width: 100%;
				&:nth-child(odd)::after {
					left: -16px;
				}
				&:nth-child(even) {
					left: 0%;
				}
			}
		}
	}
</style>
