---
import Layout from '../layouts/Layout.astro';
import Citation from '../components/Citation.astro';
---

<Layout title="Timeline - Words of William Stafford">
	<h2>Timeline</h2>
	<ul class="key">
		<p><strong>Key</strong></p>
		<li class="lightred"><p><strong>Light Red</strong> - Personal</p></li>
		<li><p><strong>Light Blue</strong> - Career</p></li>
		<li class="lightgreen"><p><strong>Light Green</strong> - Genre</p></li>
	</ul>
	<br>
	<ul class="timeline">
		<li class="lightred"><p><strong>January 17, 1914</strong> - Born in Hutchin, Kansas. <Citation href="http://poets.org/poet/william-stafford"/ citationText='poets.org'></p></li>
		<li><p><strong>1937</strong> - Recieved bachelor's degree from the University of Kansas. <Citation href="https://www.oregonencyclopedia.org/articles/stafford_william_1914_1993_/" citationText='Oregon Encyclopedia' /></p></li>
		<li class="lightred"><p><strong>1944</strong> - Married Dorothy Hope Frantz. <Citation href="http://poets.org/poet/william-stafford" citationText="poets.org" /></p></li>
		<li class="lightgreen"><p><strong>1945</strong> - The contemporary period started after the end of World War II. People started writing contemporary poetry. <Citation href="https://poemanalysis.com/definition/contemporary-period/" citationText="poemanalysis.com" /></p></li>
		<li><p><strong>1947</strong> - Published master theis under the title Down in My Heart. <Citation href="https://www.britannica.com/biography/William-Stafford" citationText="Britannica" /></p></li>
		<li><p><strong>1948</strong> - Started teaching at Lewis and Clark College. <Citation href="http://poets.org/poet/william-stafford" citationText='poets.org'/></p></li>
		<li><p><strong>1955</strong> - Recieved a doctorate from the Univeristy of Iowa. <Citation href="https://www.britannica.com/biography/William-Stafford" citationText="Britannica" /></p></li>
		<li><p><strong>1962</strong> - Published first major collection of poems titled Traveling through the Dark. <Citation href="http://poets.org/poet/william-stafford" citationText="poets.org" /></p></li>
		<li><p><strong>1964</strong> - Awarded "the Poetry Society of America's prestigious Shelley Memorial Award." <Citation href="https://www.oregonencyclopedia.org/articles/stafford_william_1914_1993_/" citationText='Oregon Encyclopedia' /></p></li>
		<li><p><strong>1979</strong> - Retired. <Citation href="https://www.oregonencyclopedia.org/articles/stafford_william_1914_1993_/" citationText='Oregon Encyclopedia' /></p></li>
		<li class="lightred"><p><strong>August 28, 1993</strong> - Passed away. <Citation href="https://www.oregonencyclopedia.org/articles/stafford_william_1914_1993_/" citationText='Oregon Encyclopedia' /></p></li>
	</ul>
</Layout>

<style lang="scss">
	@import '../styles/variables.scss';
	ul {
		list-style-type: none;
		padding: 0;
		margin: 2rem auto;
		li {
			background-color: $secondary;
			&.lightgreen {
				background-color: $lightgreen;
			}
			&.lightred {
				background-color: $lightred;
			}
		}
	}
	.key {
		width: 50%;
		text-align: center;
		li {
			padding: 0 0.5rem;
		}
	}
	.timeline {
		display: grid;
		grid-template-columns: auto;
		position: relative;
		row-gap: 2rem;
		li {
			text-align: center;
			padding: 0.5rem 1rem;
			position: relative;
			background-color: $secondary;
			max-width: calc(50% - 2rem);
			&::after {
				content: '';
				position: absolute;
				width: 25px;
				height: 25px;
				right: -17px;
				background-color: $background;
				border: 4px solid $accent;
				top: 1.25rem;
				border-radius: 50%;
				z-index: 1;
			}
			&:nth-child(odd) {
				left: 0;
			}

			&:nth-child(even) {
				left: 50%;
				&::after {
					left: -16px;
				}
			}
		}

	}
	.timeline::after {
		content: '';
		position: absolute;
		width: 6px;
		background-color: $primary;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -3px;
	}

	@media screen and (max-width: 600px) {
		.timeline {
			width: 100vh;
			margin: 0;
			&::after {
				left: 0px;
			}
			li {
				width: 100%;
				padding-left: 20px;
				padding-right: 25px;
				max-width: 100%;
				&:nth-child(odd)::after {
					left: -16px;
				}
				&:nth-child(even) {
					left: 0%;
				}
			}
		}
	}
</style>
