---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Works Cited - Words of William Stafford">
	<Header />
	<main>
		<h2>Works Cited</h2>
		<ul>
			<li>
				<h3>Genre</h3>
				<ul>
					<li>
						<a href="https://www.languagehumanities.org/what-are-the-different-types-of-contemporary-poetry.htm">https://www.languagehumanities.org/what-are-the-different-types-of-contemporary-poetry.htm</a>
					</li>
					<li>
						<a href="https://www.languagehumanities.org/what-are-the-different-types-of-contemporary-poetry.htm">https://www.languagehumanities.org/what-are-the-different-types-of-contemporary-poetry.htm</a>
					</li>
				</ul>
			</li>
			<li>
				<h3>STAARS and TEARS</h3>
				<ul>
					<li><a href="https://www.poetryfoundation.org/poems/42775/traveling-through-the-dark">https://www.poetryfoundation.org/poems/42775/traveling-through-the-dark</a></li>
					<li><a href="https://poets.org/poem/once-40s">https://poets.org/poem/once-40s</a></li>
					<li><a href="https://www.poetryfoundation.org/poems/42787/accountability">https://www.poetryfoundation.org/poems/42787/accountability</a></li>
					<li><a href="https://www.poetryfoundation.org/poems/42786/bess-56d2216a0c3d2">https://www.poetryfoundation.org/poems/42786/bess-56d2216a0c3d2</a></li>
				</ul>
			</li>
		</ul>
	</main>
</Layout>

<style>

</style>
