---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Works Cited - Words of William Stafford">
	<div>
		<h2>Works Cited</h2>
		<p>Academy of American Poets. “About William Stafford | Academy of American Poets.” <i>Poets.org</i>, 2014, poets.org/poet/william-stafford. Accessed 8 Nov. 2023.</p>
		<p>---. “Once in the 40’s by William Stafford.” <i>Poets.org</i>, poets.org/poem/once-40s. Accessed 8 Nov. 2023.</p>
		<p>“Contemporary Period.” <i>Poem Analysis</i>, 14 Feb. 2022, poemanalysis.com/definition/contemporary-period/. Accessed 8 Nov. 2023.</p>
		<p>Merchant, Paul. “William Stafford (1914-1993).” <i>Www.oregonencyclopedia.org</i>, 27 Apr. 2022, www.oregonencyclopedia.org/articles/stafford_william_1914_1993_/. Accessed 8 Nov. 2023.</p>
		<p>Paintings Online. “Contemporary Art.” <i>Paintings Online</i>, 5 Feb. 2019, paintingsonline.com.au/blogs/blogs/what-is-contemporary-art. Accessed 8 Nov. 2023.</p>
		<p>Poetry Foundation. “Accountability.” <i>Poetry Foundation</i>, 2023, www.poetryfoundation.org/poems/42787/accountability. Accessed 8 Nov. 2023.</p>
		<p>---. “Bess by William E. Stafford.” <i>Poetry Foundation</i>, 1998, www.poetryfoundation.org/poems/42786/bess-56d2216a0c3d2. Accessed 8 Nov. 2023.</p>
		<p>---. “Traveling through the Dark.” <i>Poetry Foundation</i>, 2014, www.poetryfoundation.org/poems/42775/traveling-through-the-dark. Accessed 8 Nov. 2023.</p>
		<p>Sparks, Alicia. “What Are the Different Types of Contemporary Poetry?” <i>Language Humanities</i>, 29 Sept. 2023, www.languagehumanities.org/what-are-the-different-types-of-contemporary-poetry.htm. Accessed 8 Nov. 2023.</p>
		<p>The Editors of Encyclopaedia Britannica. “Conscientious Objector.” Encyclopædia Britannica, 20 Sept. 2023, www.britannica.com/topic/conscientious-objector. Accessed 12 Nov. 2023.</p>
		<p>---. “William Stafford.” Encyclopædia Britannica, 24 Aug. 2023, www.britannica.com/biography/William-Stafford.</p>
		<p>The Silver Petticoat Review. “Modern Romanticism 101 - a Guide.” <i>The Silver Petticoat Review</i>, 31 Jan. 2018, www.silverpetticoatreview.com/modern-romanticism-101-guide. Accessed 8 Nov. 2023.</p>
	</div>
</Layout>

<style lang="scss">
p {
	padding-left: 48px;
	text-indent: -48px;
}
</style>
