---
interface Props {
	href: string;
    citationText?: string;
}

const { href, citationText } = Astro.props;
---
<div>
    {citationText && "("}<a href={href}>{citationText || href}</a>{citationText && ")"}
</div>
<style lang="scss">
    div {
        display: inline;
    }
</style>