<footer>
    <p><strong>Project created by Joshua Coquia.</strong><br>Sources listed in <a href="/works-cited">Works Cited</a> page.</p>
</footer>
<style lang="scss">
    @import "../styles/variables.scss";

    footer {
        margin-top: 2rem;
        padding: 0.5rem 1.5rem;
        background-color: $secondary;
        min-width: 100%;
        width: min-content;
        box-sizing: border-box;
    }
</style>