---
import Navbar from "./Navbar.astro";

---
<header>
    <h1>Words of William Stafford</h1>
	<Navbar />
</header>
<style lang="scss">
    @import "../styles/variables.scss";

    header {
        color: $text;
        display: inline-grid;
        grid-template-columns: 1fr auto;
        min-width: 100%;
        justify-items: start;
        align-items: center;
        h1 {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
</style>