---
import Navbar from "./Navbar.astro";

---
<header>
    <h1>William Stafford</h1>
	<Navbar />
</header>
<style lang="scss">
    @import "../styles/variables.scss";

    header {
        background: linear-gradient($secondary, $background);
        color: $text;
        display: inline-grid;
        grid-template-columns: 1fr auto;
        justify-items: start;
        align-items: center;
        width: 100%;
        h1 {
            padding-left: 1rem;
        }
    }
</style>