<header>
    <div class="main-styling">
        <h1>Words of William Stafford</h1>
        <p>A Project by Joshua Coquia.</p>
    </div>
</header>

<style>
    header {
        background: #13151a;
        color: white;
        display: inline-block;
        width: 100%;
    }
</style>