<header>
    <h1>William Stafford</h1>
</header>
<style lang="scss">
    @import "../styles/variables.scss";

    header {
        background-color: $secondary;
        color: $text;
        display: inline-grid;
        grid-template-columns: 1fr auto;
        justify-items: start;
        align-items: start;
        width: 100%;
        h1 {
            padding-left: 1rem;
        }
    }
</style>