<nav id="headerNav">
    <a href="/" id="homeLink">Home</a>
    <a href="/genre">Genre</a>
    <a href="/timeline">Timeline</a>
    <div class="dropdown">
        <a href="/staars-and-tears" class="dropdown-btn">STAARS and TEARS</a>
        <div class="dropdown-content">
            <a href="/staars-and-tears/traveling-through-the-dark">Traveling through the Dark</a>
            <a href="/staars-and-tears/once-in-the-40s">Once in the 40's</a>
            <a href="/staars-and-tears/accountability">Accountability</a>
            <a href="/staars-and-tears/bess">Bess</a>
        </div>
    </div>
    <a href="/lit-review">Lit Review</a>
    <a href="/quiz">Quiz</a>
    <a href="/major-poem">Major Poem</a>
    <a href="/works-cited">Works Cited</a>
</nav>

<style lang="scss">
    @import '../styles/variables.scss';
    nav {
        // background-color: $secondary;
        color: $text;
        padding: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(8, auto);
        
        a {
            display: inline-block;
            text-align: center;
            padding: 0.75rem;
        }

        a:link, a:visited {
            color: $text;
            text-decoration: none;
        }

        a:hover, a:focus {
            background-color: $primary;
            color: $background;
        }

        .dropdown {
            display: inline-block;
            margin: 0;
            padding: 0;

            .dropdown-content {
                display: none;
                position: absolute;
                z-index: 1;
                background-color: $secondary;

                a {
                    display: block;
                }
            }

            &:hover .dropdown-content, &:focus .dropdown-content {
                display: block;
            }
        }
        .dropdown:focus-within > .dropdown-content {
            display: block;
        }
        
    }
</style>