<nav id="headerNav">
    <a href="/" id="homeLink">Home</a>
    <a href="/genre">Genre</a>
    <a href="/timeline">Timeline</a>
    <div class="dropdown">
        <a href="/staars-and-tears" class="dropdown-btn">STAARS and TEARS</a>
        <div class="dropdown-content">
		<a href="/staars-and-tears/traveling-through-the-dark"><i>Traveling through the Dark</i></a>
		<a href="/staars-and-tears/once-in-the-40s"><i>Once in the 40's</i></a>
		<a href="/staars-and-tears/accountability"><i>Accountability</i></a>
		<a href="/staars-and-tears/bess"><i>Bess</i></a>
        </div>
    </div>
    <a href="/lit-review">Lit Review</a>
    <a href="/quiz">Quiz</a>
    <a href="/major-poem">Major Poem</a>
    <a href="/works-cited">Works Cited</a>
</nav>

<style lang="scss">
    @import '../styles/variables.scss';
    nav {
        // background-color: $secondary;
        color: $text;
        padding: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(8, auto);
        
        
        a {
            display: inline-block;
            text-align: center;
            padding: 0.75rem;
        }

        a:link, a:visited {
            color: $text;
            text-decoration: none;
        }
        
        a:hover, .dropdown:hover .dropdown-btn {
            background-color: $primary;
            color: $background;
        }

       .dropdown {
           color: $background;
           display: inline-block;
           margin: 0;
           padding: 0;
           
           .dropdown-content {
                box-shadow: 0px 4px 8px $text;
                display: none;
                position: absolute;
                background-color: $secondary;
                
                a {
                    display: block;

                    &:hover {
                        background-color: $accent;
                    }
                }
            }

            &:hover .dropdown-content, &:focus .dropdown-content {
                display: block;
            }
        }
        .dropdown:focus-within > .dropdown-content {
            display: block;
        }
        
    } 
</style>